In [2]:
print('Hello')
print('Hello')
print('Hello')
print('Hello')
print('Hello')

Hello
Hello
Hello
Hello
Hello

C 언어 버전의 for loop

In [ ]:
int l1[] = {1,2,3,4,5,6};
int i;
for(i=0; i<6; i++)
    printf("Hello %d", l1[i]);

Python 버전의 for loop

In [7]:
l1 = [1,2,3,4,5]
for i in l1:
    print("Hello %d"%i)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [13]:
for i in range(5):   # 0,1,2,3,4
    print("Hello %d"%(i+1))

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [16]:
for i in "abcde":
    print("Hello %c"%(i))

Hello a
Hello b
Hello c
Hello d
Hello e

In [17]:
for i in (0,1,2,3,4):
    print("Hello %d"%(i+1))

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [18]:
for i in ['Americano','latte','frafuchino']:
    print(i)

Americano
latte
frafuchino

In [21]:
for i in range(1,10,2):
    print(i, end=' ')

1 3 5 7 9

In [22]:
for i in range(0,10,2):
    print(i, end=' ')

0 2 4 6 8

In [23]:
for i in range(10,0,-1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [25]:
for i in range(10):
    print(10-i, end=' ')

10 9 8 7 6 5 4 3 2 1

In [26]:
for i in range(1,11):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [27]:
for i in range(10):
    print(i+1, end=' ')

1 2 3 4 5 6 7 8 9 10

In [29]:
for i in range(5):
    print(i*2+1, end=' ')

1 3 5 7 9

In [30]:
for i in range(5):
    print(i*2, end=' ')

0 2 4 6 8

while을 이용한 반복문

In [31]:
i=0
while i<10:
    print(i, end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9

In [36]:
i=0
while i<5:
    print((i+1)*3, end=' ')
    i=i+1

3 6 9 12 15

break 문

In [37]:
for i in range(10):
    if i==5:
        break
    print(i)
print("EOP")

0
1
2
3
4
EOP

In [43]:
a = [34,23,54,66,22,45,67]
for i in a:
    if i==65:
        print("65점 찾음")
        break   # break문은 가장 가까운 loop(while, for)문을 빠져 나온다.

continue 문

In [44]:
for i in range(10):
    if i==5:
        continue
    print(i)
print("EOP")

0
1
2
3
4
6
7
8
9
EOP

In [45]:
for i in range(10):
    if i%2==1:
        continue
    print(i, end=' ')
print("EOP")

0 2 4 6 8 EOP

In [46]:
for i in range(10):
    if i%2==0:
        continue
    print(i, end=' ')
print("EOP")

1 3 5 7 9 EOP

연습문제 1

In [56]:
"""
*
**
***
****
*****
"""

n = int(input("숫자 입력 : "))
print(n)

for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print()

숫자 입력 : 5
5
*
**
***
****
*****

In [61]:
"""
*****
 ****
  ***
   **
    *
"""

n = int(input("숫자 입력 : "))
print(n)

for i in range(n):
    for j in range(i):
        print(" ", end="")
    for j in range(n-i):
        print("*", end="")
    print()

숫자 입력 : 5
5
*****
 ****
  ***
   **
    *

연습문제 3번

In [65]:
"""
    *
   ***
  *****
 *******
*********
"""

n = int(input("숫자 입력 : "))
print(n)

for i in range(n):
    for j in range(n-i-1):
        print(" ", end="")
    for j in range(i*2+1):
        print("*", end="")
    print()

숫자 입력 : 11
11
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************
*********************

연습문제 4

In [73]:
"""
    *
   ***
  *****
   ***
    *
"""

n = int(input("숫자 입력 : "))
print(n)

for i in range(n//2+1):
    for j in range(n//2-i):
        print(" ", end="")
    for j in range(i*2+1):
        print("*", end="")
    print()
    
for i in range(n//2):
    for j in range(i+1):
        print(" ", end="")
    for j in range(n-(i+1)*2):
        print("*", end="")
    print()

숫자 입력 : 13
13
      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

In [79]:
"""
    *
   ***
  *****
   ***
    *
"""

n = int(input("숫자 입력 : "))
print(n)

inc = 0
s = 1

for i in range(n):
    for j in range(n//2-inc):
        print(" ", end="")
    for j in range(inc*2+1):
        print("*", end="")
    print()
    if( i == n//2 ):
        s = -s
#     print(inc)
    inc += s

숫자 입력 : 5
5
  *
0
 ***
1
*****
2
 ***
1
  *
0

연습문제 5번

In [95]:
week = ["월요일", "화요일", "수요일", "목요일", "금요일", "토요일", "일요일"]
year, month, day = map(int, input("년 월 일 입력(2021 7 8) : ").split())
total_day = 0

day1 = [31,28,31,30,31,30,31,31,30,31,30,31]
day2 = [31,29,31,30,31,30,31,31,30,31,30,31]

for y in range(year-1):
    total_day += 365
    if (((y+1)%4==0) and ((y+1)%100!=0)) or ((y+1)%400==0):
        total_day += 1

for m in range(month-1):     
    if ((year%4==0) and (year%100!=0)) or (year%400==0):
        total_day += day2[m]
    else:
        total_day += day1[m]
    
total_day += day-1
    
print( "%d년 %d월 %d일은 %s 입니다."%(year, month, day, week[total_day%7]) )

년 월 일 입력(2021 7 8) : 2021 1 1
2021년 1월 1일은 금요일 입니다.

반복문의 else

In [98]:
for i in range(10):
    print(i, end=" ")
else:
    print("EOP")

0 1 2 3 4 5 6 7 8 9 EOP

In [99]:
for i in range(10):
    print(i, end=" ")

print("EOP")

0 1 2 3 4 5 6 7 8 9 EOP

In [100]:
for i in range(10):
    if i==5:
        break
    print(i, end=" ")
else:
    print("EOP")

0 1 2 3 4

In [103]:
for i in range(10):
    if i==5:
        break
    print(i, end=" ")

if i==9 :
    print("for loop가 끝까지 실행됨")
else:
    print("for loop가 중간에 탈출됨")

0 1 2 3 4 5
for loop가 중간에 탈출됨

In [105]:
for i in range(10):
#     if i==5:
#         print("for loop가 중간에 탈출됨")
#         break
        
    print(i, end=" ")
else:
    print("for loop가 끝까지 실행됨")

0 1 2 3 4 5 6 7 8 9 for loop가 끝까지 실행됨

리스트를 이용한 2차원 배열 형태 만들기

In [106]:
n = 5
a = [[0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0]]

count=1
for i in range(n):
    for j in range(n):
        a[i][j] = count
        count += 1
        
for i in range(n):
    for j in range(n):
        print( "%4d"% a[i][j], end="")
    print()

   1   2   3   4   5
   6   7   8   9  10
  11  12  13  14  15
  16  17  18  19  20
  21  22  23  24  25

In [107]:
n = 5
a = [[0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0]]

count=1
for i in range(n):
    for j in range(n):
        a[n-j-1][n-i-1] = count
        count += 1
        
for i in range(n):
    for j in range(n):
        print( "%4d"% a[i][j], end="")
    print()

  25  20  15  10   5
  24  19  14   9   4
  23  18  13   8   3
  22  17  12   7   2
  21  16  11   6   1

In [108]:
n = 5
a = [[0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0]]

count=1
for i in range(n//2+1):
    for j in range(n-i*2):
        a[i+j][i] = count
        count += 1
        
for i in range(n):
    for j in range(n):
        print( "%4d"% a[i][j], end="")
    print()

   1   0   0   0   0
   2   6   0   0   0
   3   7   9   0   0
   4   8   0   0   0
   5   0   0   0   0

In [109]:
n = 5
a = [[0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0],
     [0,0,0,0,0]]

count=1
inc = 0
s = 1
for i in range(n):
    for j in range(n-inc*2):
        a[inc+j][i] = count
        count += 1
    if i==n//2:
        s = -s
    inc += s
        
for i in range(n):
    for j in range(n):
        print( "%4d"% a[i][j], end="")
    print()

   1   0   0   0  13
   2   6   0  10  14
   3   7   9  11  15
   4   8   0  12  16
   5   0   0   0  17